@import url('https://fonts.googleapis.com/css?family=Barlow');

body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Barlow', sans-serif;
}
.NavCome {
  // font-family: 'Noto Sans KR', sans-serif;
  text-align: center;
  text-decoration: none;
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.4);
  ul {
    // bottom: 40px;
    list-style-type: none;
    text-align: center;
    z-index: 10;
    width: 100%;
    position: absolute;
    margin: 0 auto;
    margin-top: 0.59%;
    width: 100%;
    height: 100%;
    li {
      display: inline-block;
      //   border: 1px solid black;
      font-size: 1.4rem;
      font-weight: 600;
      color: whitesmoke;
      justify-content: space-between;
      margin-right: 0.2%;
      margin-left: 0.2%;
      margin-bottom: 2%;
      transition: all 0.3s ease-in-out;
      transition-timing-function: linear;
      margin-left: 3%;
      top: -4%;
      position: relative;
    }
    li:active {
      color: rgba(255, 255, 255, 0.596);
    }

    li:hover {
      font-size: 1.6rem;
      top: -4%;
      position: relative;
      //   margin: 0 auto;
      // margin-right: 3%;
      // margin-left: 3.3%;
    }
  }
}
